@CHARSET "utf-8";
#embedCV{
	width: 100%;
	height: 500px;
}
#KevinKanPhoto{
	margin-left: 35%;
	width: 30%;
}
/*When the screen is smaller than 463px*/
@media screen and (max-width:463px)
{
	#embedCV{display:none;}/*if the screen is too small don't display the embedded CV*/
}