@CHARSET "utf-8";
#quickContact{
	width: 100%;
	max-width: 400px;
	min-width: 200px;
}
#quickContact label,#quickContact input[type='text'],#quickContact input[type='email'],#quickContact textarea{
	width:80%;
	display: block;
}
#quickContact #quickContactSubmit{
	float: right;
}
#emailError{
	color:#F00;
	border: 1px solid #F00;
	display: block;
	float: left;
	width:100%;
}
#emailError ul{
	margin:0;
}
