@CHARSET "utf-8";
.projectBox{
	width:49%;
	margin-left:1%;
	height:100%;
	float:left;
	position:relative;
	display:block;
	min-width:100px;
}
.projectBox a img{
	width:100%;
}
/*When the screen is smaller than 463px*/
@media screen and (max-width:463px)
{
	#moreProjectsButton{font-size: 16px}
}